	/* google font links */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',
    sans-serif;
}
/* ----------------------------------
    header section css styles
    --------------------------------- */
header{
    background-color:#2D25A0;
    color:white;
    padding:5px 0;
}
.nav-container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    max-width: 1160px;
    margin-top:10px;
}
.nav-icon{
  display: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav ul li{
    list-style-type: none;
    margin:0 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
nav ul li a{
    text-decoration: none;
    color:white;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
 color:tomato;
}
nav ul li::after{
    content:"";
    position:absolute;
    width:0%;
    display: block;
    left:0;
    right: 0;
    height:2px;
    background-color: rgb(20, 234, 238);
     transition: all 0.3s ease-in-out;
}
nav ul li:hover::after{
    width: 100%;
}

.login-btn{
    background-color: #E02C6D;
    color:white;
    padding:10px 16px;
    font-weight: 700;
    border:none;
    cursor:pointer;

}

.login-btn .arrow{
    margin-right: 5px;
}





/* ----------------------------------
    banner section css styles
    --------------------------------- */

.hero-section{
    background-color:#2D25A0;
    height: 674px;
    display: flex;
    justify-content: space-around;
}
.hero-section .banner {
    width: 1160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-left h1{
    color:white;
    font-size: 64px;
    font-weight: bold;
}
.btn{
    color:#fff;
    text-decoration: none;
    background-color: #E02C6D;
    padding:7px 10px;
    display: inline-block;
    margin-top:10px;
    transition: all 0.3s ease-in-out;
}
.btn .arrow{
    transition: all 0.3s ease-out;
}
 .btn:hover{
    color:#2D25A0;
    font-weight: 700;
    background-color: aqua;
    
}
.btn:hover .arrow{
    color:#E02C6D;
    transform: translateX(5px);
    font-size: 20px;
}

.banner-right img{
    width: 556px;
    height: 438px;
    transition: all 0.5s ease-in-out;
   
}

.banner-right:hover img{
    transform: scale(1.25);
  
}

/* -----------------------------
    Players section css styles
    -------------------------- */

 .top-players{
    width: 1050px;
    margin:0 auto;
    margin-top:60px;
 
 }
.players {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
  
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 30px;
      
}
.player{
    overflow: hidden;
    text-align: center;
    width:330px;
     height: 474px;
    padding: 10px 10px 20px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    
    width: 300px;
    height: 256px;
    transition: all 0.3s ease-in-out;

}
.player:hover img{
    transform: scale(1.25);
}
.player h3{
    font-weight: bold;
    font-size: 28px;
    padding:10px 0;
    text-align: start;
    transition: all 0.3s ease-in-out;
}

.player:hover h3{
    margin-top:10px;
}
.player p{
    color: #6C6C6C;
    width: 320px;
    padding-bottom:10px;
    text-align: start;
}
/* ----------------------------  
    Match Highlights section 
------------------------------*/
.highlights{
    width:1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    padding-top:30px;
    margin:0 auto;
}
.left-side{
    padding-left:20px;
    width:500px;
    margin-left: 15px;
    margin: o auto;
}
 .highlights .left-side h1 {
    font-size: 46px;
}
 .highlights .right-side {
   
}
.right-side img{

   width: 567px;
   height: 427px;
   transition: all 0.5s ease-in-out;
   overflow: hidden;
}
.right-side:hover img{
    transform: translateY(15px);
}

/* -----------------------------------------
    Bonus section css styles
    upcoming matches
---------------------------------------------*/
.upcoming-match{
    margin:0 auto;
    max-width: 1050px;
    padding:30px 0;
}
.section-title {
    text-align: center;
    padding:10px 0;
    
}
.matches{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.match{
    display: flex;
    background-color: rgba(11, 123, 171, 0.197);
    align-items: center;
    padding:20px;
    border-radius: 5px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     transition: all 0.3s ease-in-out;
    }
    .match:hover{
        transform: translate(10px);
    }

.match img{
    width:200px;
     transition: all 0.3s ease-in-out;
}

.match:hover img{
    transform:scale(0.75);
}
.match h3{
    padding:0 10px;
}
.match:hover h3{
   padding:0 10px;
}

/* -----------------------------------------
    final match videoes section css styles
---------------------------------------------*/

.highlight-matches{
 width:1150px;
    margin:0 auto;
}
.videoes{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-items: center;
   grid-gap: 20px;
}

.video iframe{
   width:560px;
   height:315px;
}




/* -----------------------------------------
    footer section css styles
---------------------------------------------*/

.footer-content{
    text-align: center;
    padding-top:30px;
}
.footer-top img{
    width: 483.87px;
    height: 110px;
}
.footer-icon .fab{
    background: #969bab53;
    padding:5px;
    border-radius: 50%;
    color:#6C6C6C;
    margin:0 5px;
    transition: all 0.5s ease-in-out;
}
.footer-icon .fab:hover{
    background-color: aqua;
    color:#E02C6D;
    transform: scale(1.25);
}
.footer-bottom{
    padding:20px 0;
}
.footer-bottom span{
    color:#E02C6D;
    font-weight: 600;
    
}



/* -------------------------------
    Responsive media query css styles
    ---------------------------- */

    /* For Moblie devices */
 @media only screen and (max-width:688px) {

/*--------header section----------  */
  header .nav-icon{
      display: block;
      margin:0 15px;
  }
  .login-btn{
     margin:0 15px;
     padding:5px 10px;
  }
   header nav{
       display: none;
   }

/*--------hero section----------  */
    .hero-section{
      width: auto;
     min-height: auto;
        
    }
    .banner{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 15px;
        align-items: center;
    } 
    .banner-left h1{
        font-size: 36px;
    }
    .banner-right img{
        width: auto;
        height: 259px;
    }
/*--------Players section----------  */
 .top-players{
     width: auto;
 }
    .players{
        grid-template-columns:repeat(1, 1fr);
    }

/* highlights section */
.highlights {
    flex-direction: column;
     width: auto;
}
.highlights .left-side{
    width: auto;
    margin:0;
    padding: 0 5px 30px 5px;
   
}
.highlights img {
   width: 328px;
   height: 248px;
    padding-bottom: 30px;
}
/* footer section */
.footer-top img{
    width:300px;
}

/* bounus section */
.highlight-matches{
    width:auto;
}
.matches, .videoes {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    justify-items: center;
}

.video iframe {
    width: auto;
    height: auto;
}

    } 

/* Tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){
/*--------hero section----------  */
    .banner-left{
        padding: 0 10px;
    }
     .banner-left h1 {
        font-size: 36px;
     }
     .banner-right img {
         width: 329px;
         height: 259px;
     }

/*--------Players section----------  */
.top-players{
    width: auto;
}
.players{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 10px;

}

/* highlights section */
.highlights{
    margin-top:20px;
    width: auto;
    flex-direction: column;
    align-items: center;
}

.highlights .left-side {
   
    margin: 0;
    padding: 0 5px 30px 5px;

}
.highlights img{
    width: auto;
    padding-top:20px;
}
/* bounus section */
.matches {
    grid-template-columns: repeat(1 , 1fr);
    color:rgb(255, 111, 0);
}
.highlight-matches {
    width: auto;
}
 .videoes {
     grid-template-columns: repeat(2 ,1fr);
     display: grid;
     justify-items: center;
 }

 .video iframe {
     width: auto;
     height: auto;
 }
}



